@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fdfdfd;
  font-family: 'Slabo 27px', serif;
}

.top-nav {
  background-color: rgba(197, 245, 228, 0.5);
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 6rem;
  padding: .5em 0;
  font-size: 1.6rem;
/*  a {
    color: rgba(89, 193, 31, 0.89);
    &:hover {
      color: rgba(61, 111, 33, 0.89);
    }*/
  }
  .add {
    margin-top: 10px;
    a {
    color: rgba(89, 193, 31, 0.89);
    padding-left: .4em;
    &:hover {
      color: rgba(61, 111, 33, 0.89);
    }
  }
  .greeting {
    display: inline;
    padding-right: .5em;
  }
}

.brand {
  color: rgba(89, 193, 31, 0.89);
  font-size: 3rem;
  font-family: 'Eagle Lake', cursive;
  letter-spacing: .1em;
  &:hover {
    color: rgba(61, 111, 33, 0.89);
  }
}

.shadow-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 2px 3px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
  p {
    margin: 1em;
    font-size: 1.2em;
  }
}

.handle {
  margin: .6em;
  color: rgba(9, 121, 102, 0.91);
  font-size: 1.4em;
}

.card.form {
  padding: 2em;
}